.App {
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-column {
  background-color: rgb(200, 24, 200);
  height: 600px;
  width: 300px;
}
.right-column {
  width: 600px;
  height: 520px;
  background-color: wheat;
  justify-content: center;
  align-items: center;
  display: grid;
}
.jokes-table {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  border: 1px solid black;
}
.joke-container {
  /* height: 50px;
  border: 1px solid black; */
}
